@page
@model NewFAHP.App.Pages.ResultModel
@{
    ViewData["Title"] = "Result";
}

<h2>Result</h2>

<p>Teacher-Student ratio: @Model.TSR</p>
<p>Male-Female Ratio: @Model.MFR</p>
<p>socio-Economic Status: @Model.SES</p>
<p>Location of School: @Model.DIST</p>
<p>Age of School: @Model.AS</p>
<p>Average Age of Students: @Model.AS</p>